:root {
  --color1: 254, 92, 59; /* #fe5c3b */
  --color2: 97, 152, 231; /* #6198e7 */
  --color3: 247, 218, 223; /* #f7dadf */
  --color4: 192, 225, 230; /* #c0e1e6 */
}

@font-face {
  font-family: 'MADEWaffleSoft';
  src: url('/fonts/MADEWaffleSoft.ttf.eot'); /* IE9 Compat Modes */
  src:
    url('/fonts/MADEWaffleSoft.ttf.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/MADEWaffleSoft.ttf.woff') format('woff'),
    /* Super Modern Browsers */
      url('/fonts/MadeWaffleSoft.ttf.svg#MADEWaffleSoft') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frankfurt';
  src: url('/fonts/Frankfurt.ttf.eot'); /* IE9 Compat Modes */
  src:
    url('/fonts/Frankfurt.ttf.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/Frankfurt.ttf.woff') format('woff'),
    /* Super Modern Browsers */ url('/fonts/Frankfurt.ttf.svg#Frankfurt')
      format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.rich-font {
  font-family: 'MADEWaffleSoft';
}

.bubble-font {
  font-family: 'Frankfurt';
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  background-color: transparent !important;
}

.chad-top-app-bar {
  background: rgba(var(--color2), 1);
}

.chad-typography-gradient {
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(var(--color1), 1),
    rgba(var(--color2), 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  @media (orientation: landscape) {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
  @media (orientation: portrait) {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  }
}

.chad-typography-gradient-alt {
  background: linear-gradient(
    45deg,
    rgba(var(--color1), 1),
    rgba(var(--color1), 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.chad-shadow {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.chad-card {
  /* background: linear-gradient(
    45deg,
    rgba(var(--color3), 0.5),
    rgba(var(--color4), 0.5)
  ); */
  border-radius: 1em;
  @media (orientation: landscape) {
    padding: 2em;
  }
  @media (orientation: portrait) {
    padding: 1.5em;
  }
}

.chad-bg-gradient {
  background: linear-gradient(
    135deg,
    rgba(var(--color4), 1),
    rgba(var(--color1), 0.3)
  );
}

.chad-text-mask-left {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  mask-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.chad-text-giga {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 8rem;
  }
  @media (orientation: portrait) {
    font-size: 4rem;
  }
}

.chad-text-xl {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 6rem;
  }
  @media (orientation: portrait) {
    font-size: 3rem;
  }
}

.chad-text-heading {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 4rem;
  }
  @media (orientation: portrait) {
    font-size: 2rem;
  }
}

.chad-text-subheading {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 2rem;
  }
  @media (orientation: portrait) {
    font-size: 1.5rem;
  }
}

.chad-text-lg {
  @media (orientation: landscape) {
    font-size: 1.1rem;
  }
  @media (orientation: portrait) {
    font-size: 1.1rem;
  }
}

.chad-text-base {
  @media (orientation: landscape) {
    font-size: 1rem;
  }
  @media (orientation: portrait) {
    font-size: 1rem;
  }
}

.chad-text-sm {
  @media (orientation: landscape) {
    font-size: 0.8rem;
  }
  @media (orientation: portrait) {
    font-size: 0.8rem;
  }
}
