:root {
  --color1: 254, 92, 59; /* #fe5c3b */
  --color2: 97, 152, 231; /* #6198e7 */
  --color3: 247, 218, 223; /* #f7dadf */
  --color4: 192, 225, 230; /* #c0e1e6 */
}

@font-face {
  font-family: 'MADEWaffleSoft';
  src: url('/fonts/MADEWaffleSoft.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.rich-font {
  font-family: 'MADEWaffleSoft';
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  background-color: transparent !important;
}

.chad-typography-gradient {
  text-align: center;
  background: linear-gradient(
    45deg,
    rgba(var(--color1), 1),
    rgba(var(--color2), 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.chad-typography-gradient-alt {
  background: linear-gradient(
    45deg,
    rgba(var(--color1), 1),
    rgba(var(--color1), 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.chad-shadow {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.chad-card {
  background: linear-gradient(
    45deg,
    rgba(var(--color3), 0.5),
    rgba(var(--color4), 0.5)
  );
  border-radius: 1em;
  @media (orientation: landscape) {
    padding: 2em;
  }
  @media (orientation: portrait) {
    padding: 1.5em;
  }
}

.chad-bg-gradient {
  background: linear-gradient(
    135deg,
    rgba(var(--color4), 1),
    rgba(var(--color1), 0.3)
  );
}

.chad-text-mask-left {
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  mask-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.chad-text-giga {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 8em;
  }
  @media (orientation: portrait) {
    font-size: 4em;
  }
}

.chad-text-xl {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 6em;
  }
  @media (orientation: portrait) {
    font-size: 3em;
  }
}

.chad-text-heading {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 4em;
  }
  @media (orientation: portrait) {
    font-size: 2em;
  }
}

.chad-text-subheading {
  line-height: 1;
  @media (orientation: landscape) {
    font-size: 2em;
  }
  @media (orientation: portrait) {
    font-size: 1.5em;
  }
}

.chad-text-lg {
  @media (orientation: landscape) {
    font-size: 1.1em;
  }
  @media (orientation: portrait) {
    font-size: 1.1em;
  }
}

.chad-text-base {
  @media (orientation: landscape) {
    font-size: 1em;
  }
  @media (orientation: portrait) {
    font-size: 1em;
  }
}

.chad-text-sm {
  @media (orientation: landscape) {
    font-size: 0.8em;
  }
  @media (orientation: portrait) {
    font-size: 0.8em;
  }
}
